@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arialmt.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Georgia, Verdana, sans-serif;
  &.scroll-block {
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100vh;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
