.mobile-menu {
  width:320px;
  height: 100%;
  right: -320px;
  transition: all 0.5s ease-out; 
  background-image: url("../../assets/images/start-screen-gradient-background.png");
  background-size:cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  visibility: hidden;
  padding: 30px 20px 0 20px;
  z-index: 2;


}
.mobile-menu_active {
  visibility: visible;
  transform: translateX(-100%);
}

.mobile-menu-list{
   list-style-type: none;
   margin-top: 158px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap:40px;
   font-size: 3.2rem;
   color: #CDCDCD;
}

