
.btn :hover {
  cursor: pointer;
  background-color: $color-hover;
  @extend %transition;
}

.start-screen {
  width: 100%;
  height: 100%;
}

.wrapper-start-screen {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 62px;
  padding-left: 40px;

  @include media-tablet {
    padding: 30px 30px 0 20%;
    gap: 115px;
  }

  @include media-mobilesmall() {
    padding: 60px 10px 0 10px;
    gap: 105px;
  }
}

.start-screen-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  height: 100%;
  padding-top: 160px;

  @include media-tablet {
    padding: 0;
  }
}

.start-screen-title {
  font-family: $font-main;
  @extend %font-weight;
  font-size: 4.4rem;
  line-height: 130%;
  color: #ffffff;
  max-width: 310px;

  @include media-mobilesmall {
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.start-screen-content {
  font-family: $font-second;
  @extend %font-weight;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
  max-width: 460px;
  margin: 42px 0 42px 0;

  @include media-mobilesmall {
    text-align: center;
  }
}

.start-screen-btn {
  width: 207px;
  height: 52px;
  background: $color-primary;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: $font-main;
  @extend %font-weight;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  font-style: normal;
  font-weight: 400;
}

.wrapper-start-screen-img {
  width: 698px;
  height: 728px;
  background-image: url("../../assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 38px;

  @include media-tablet {
    max-width: 569px;
    max-height: 593px;
    margin: 0 0 0 10px;
  }

  @include media-mobilesmall {
    max-width: 260px;
    max-height: 272px;
    margin: 14px 0 0 37px;
  }
}

@media (max-width: 740px) {
  .wrapper-start-screen-img {
    max-width: 392px;
    max-height: 410px;
  }
}

@media (max-width: 1240px) {
  .start-screen-img {
    max-width: 569px;
    max-height: 593px;
  }
}

@media (max-width: 540px) {
  .wrapper-start-screen-img {
    max-width: 260px;
    max-height: 272px;
  }
}

.link-start-screen-btn {
  text-decoration: none;
  margin-top: 16px;

  @include media-tablet {
    align-self: center;
  }
}

.section-about {
  height: 100%;
  width: 100%;
  margin: 80px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;

  @include media-tablet {
    gap: 75px;
  }

  @include media-mobilesmall {
    margin: 42px 0 42px 0;
    gap: 42px;
  }
}

.section-about-img {
  max-width: 300px;
  max-height: 408px;

  @include media-tablet {
    order: 2;
  }
}

.section-about-content {
  max-width: 430px;
  flex-direction: column;
  display: flex;
  gap: 25px;
  text-align: justify;

  @include media-tablet {
    gap: 20px;
  }

  @media (max-width: 600px) {
    max-width: 350px;
  }

  @media (max-width: 500px) {
    max-width: 320px;
  }
}

.section-about-title {
  font-family: $font-main;
  @extend %font-weight;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-gray;
  margin-top: 3px;
  margin-bottom: 0px;
  max-width: 370px;

  @include media-mobilesmall {
    text-align: center;
    margin: 0;
  }
}

.section-about-text {
  font-family: $font-second;
  @extend %font-weight;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4c4c;
  margin-top: 0px;
  padding-bottom: 0px;
  text-align: justify;

  @include media-tablet {
    line-height: 165%;
  }

  @include media-mobilesmall {
    line-height: 160%;
    max-width: 270px;
    text-align: justify;
  }
}

.section-pets {
  height: 100%;
  background: #f6f6f6;
  height: 100%;
  padding: 80px 40px 120px 40px;
  position: relative;

  @include media-tablet {
    padding: 80px 30px 120px 30px;
  }

  @include media-mobilesmall {
    padding: 47px 0 57px 0;
  }
}

.wrapper-section-pets {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;

  @include media-mobilesmall {
    gap: 45px;
  }
}

.section-pets-title {
  max-width: 400px;
  text-align: center;
  font-family: $font-main;
  @extend %font-weight;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color:$color-dark-gray;
}

.section-pets-btn {
  padding: 15px 45px;
  background: $color-primary;
  border-radius: 100px;

  font-family: $font-main;
  @extend %font-weight;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.section-help {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: #ffffff;
}

.wrapper-section-help {
  padding: 80px 40px 70px 40px;
  text-align: center;
  height: 100%;

  @include media-tablet {
    padding: 80px 40px 100px 40px;
  }

  @include media-mobilesmall {
    padding: 47px 15px 42px 15px;
  }
}

.section-help-title {
  font-family: $font-main;
  @extend %font-weight;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-gray;
  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 60px;
  }

  @include media-mobilesmall {
    margin-bottom: 42px;
  }
}

.section-help-list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include media-tablet {
    gap: 55px 77px;
  }

  @include media-mobilesmall {
    gap: 30px;
    justify-content: space-between;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: center;
  margin: 30px 60px;

  @include media-tablet {
    margin: 0;
    flex-basis: 22%;
    gap: 30px;
  }

  @include media-mobilesmall {
    margin: 0;
    flex-basis: 42%;
    gap: 20px;
  }
}

.list-item-icon-name {
  font-family: $font-main;
  @extend %font-weight;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-gray;
  white-space: nowrap;

  @include media-mobilesmall {
    font-size: 1.5rem;
    line-height: 110%;
  }
}

.list-item-icon {
  width: 60px;
  height: 60px;

  @include media-mobilesmall {
    width: 50px;
    height: 50px;
  }
}

.first-link {
  display: inline;
  border-bottom: 3px solid $color-primary;
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.section-donation {
  background: $color-light-gray;
}

.wrapper-section-donation {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 100px;
  padding-top: 80px;

  @include media-tablet {
    gap: 60px;
  }

  @include media-mobile {
    padding: 80px 20px 100px 20px;
  }

  @include media-mobilesmall {
    gap: 40px;
    padding: 42px 0 42px 0;
  }
}

.section-donation-title {
  max-width: 300px;
  font-family: $font-main;
  @extend %font-weight;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-gray;

  @include media-mobilesmall {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-donation-img {
    order: 2;
  }
}

@media (max-width: 510px) {
  .section-donation-img {
    width: 290px;
  }
}

.section-donation-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;

  @include media-mobilesmall {
    max-width: 280px;
    gap: 23px;
  }

  @media (max-width: 300px) {
    padding: 3.33%;
  }
}

.section-donation-text {
  font-family: $font-main;
  @extend %font-weight;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-gray;

  @include media-mobilesmall {
    letter-spacing: 0;
  }
}

.section-donation-card {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  max-width: 349px;
  height: 43px;
  background: $color-primary;
  border-radius: 9px;
  &:hover {
  background-color: $color-hover;
  }
}

.section-donation-card-number {
  font-family: $font-main;
  @extend %font-weight;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color:$color-dark-gray;

  @include media-mobile {
    font-size: 1.5rem;
  }
}

.section-donation-content {
  font-family: $font-second;
  @extend %font-weight;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: $color-medium-gray;
  text-align: justify;
}

@media (max-width: 320px) {
  .start-screen-title,
  .section-about-title,
  .section-pets-title,
  .section-help-title,
  .section-donation-title {
    font-size: 2.5rem;
  }

  .section-donation-img,
  .section-about-img,
  .start-screen-img {
    width: 260px;
  }
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  transition: width 0.5s ease-out;
}

.overlay_active {
  width: 100%;
  
}
